{% load static %}

<div class="bg-dark text-secondary px-4 py-5 text-center" id="WebSurfer">
    <div class="py-5">
        <h4 class="display-5 fw-bold" style="color: #6B1CA9">Web Surfer</h4>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4"> Web Surfer in help of that you can get a variety of data on links that you will enter
                no
                matter where link is from.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

                <a class="btn btn-outline-light btn-lg px-4" style="background-color: #6B1CA9"
                   href="{% url 'web_surfer' %}">Web Surfer Page</a>

            </div>
        </div>
    </div>
</div>


<div class="bg-dark text-secondary px-4 py-5 text-center" id="Telegram">
    <div class="py-5">
        <h4 class="display-5 fw-bold mb-2" style="color: #05F0EA">Telegram</h4>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4"> Find user profile and its data like description and avatar. And also you can contact
                with them through contact field.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

                <a class="btn btn-outline-light btn-lg px-4" style="background-color: #05F0EA"
                   href="{% url 'telegram' %}">Telegram Page</a>

            </div>
        </div>
    </div>
</div>


<div class="bg-dark text-secondary px-4 py-5 text-center" id="GitHub">
    <div class="py-5">
        <h4 class="display-5 fw-bold" style="color: #C87421">GitHub</h4>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">Find developer's GitHub profile page and its avatar image. And also description,
                location.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

                <a class="btn btn-outline-light btn-lg px-4" style="background-color: #C87421"
                   href="{% url 'github' %}">GitHub Page</a>

            </div>
        </div>
    </div>
</div>

