{% load static %}


<section class="home-faq-section faq-section" id="faq-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <h2 style="color: #ff0000">IMPORTANT WARNINGS</h2>
                <p>Important warnings, read everything carefully.</p>
                <p>1) The data you enter should not contain illegal content.</p>
                <p>2) Using VPN may trigger some issues in working of this site.</p>
                <p>3) The only one data that this site collects is users User-Agent, with this data site uses to
                    display appropriate content to their users.</p>
            </div>
            <div class="col-lg-7">
                <dl class="accordion">
                    <dt>
                        <a href="#" class="active">Is it legal to use this site ?</a>
                    </dt>
                    <dd>
                        Everything you do in this site, should be done at your own risks. This site or site owner
                        will not take risks about your actions. This site uses OSINT (Open Source Intelligence) method,
                        and it is actually legal but using this in a wrong goals maybe illegal so think about what
                        you are doing prior to you do anything.
                    </dd>
                    <dt>
                        <a href="#">Does this site collect user's data like their username, ip address, data that they
                            enter?</a>
                    </dt>
                    <dd>
                        In terms of privacy of users, this site and site owner do not collect any data about user
                        without their permission. The data that you enter will be used for your purposes and cannot be
                        returned.
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
