{% load static %}


<section class="feature-section section-gap-full" id="feature-section">
    <div class="container">
        <div class="row align-items-center feature-wrap">
            <div class="col-lg-4 header-left" >
                <h1>
                    <br > Process To Get Things Next Level
                </h1>
                <a class="primary-btn" href="{% url 'osint' %}">Attend
                    <span class="ti-arrow-right"></span>
                </a>
            </div>
            <div class="col-lg-8">
                <div class="row features-wrap">
                    <div class="col-md-6">
                        <div class="single-feature relative">
                            <div class="overlay overlay-bg"></div>
                            <h3>Web Surfer</h3>
                            <p>
                                Web Surfer in help of that you can get a variety of data on links that you will enter no
                                matter where link is from.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-feature relative">
                            <div class="overlay overlay-bg"></div>
                            <h3>Telegram</h3>
                            <p>
                                Find user profile and its data like description and avatar. And also you can contact
                                with them through contact field.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-feature relative">
                            <div class="overlay overlay-bg"></div>
                            <h3>Instagram</h3>
                            <p>
                                Find person in instagram profile and its data like description, avatar, followers,
                                posts and who he or she follows.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-feature relative">
                            <div class="overlay overlay-bg"></div>
                            <h3>GitHub</h3>
                            <p>
                                Find developer's GitHub profile page and its avatar image. And also description,
                                location.
                            </p>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-feature relative">
                            <div class="overlay overlay-bg"></div>
                            <h3>Steam</h3>
                            <p>
                                Find Steam's user profile and its data like description and avatar. And also you can
                                contact
                                with them through contact field.
                            </p>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-feature relative">
                            <div class="overlay overlay-bg"></div>
                            <h3>Twitch</h3>
                            <p>
                                Find Twitch's user profile and its data like description and avatar.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
