{% load static %}


<section class="service-section section-gap-full" id="services-section">
    <div class="container">
        <div class="section-title">
            <h2 class="text-center" style="color: #f66435">Services</h2>
            <p class="text-center" style="color: #b120d5">Discover The Service Provided</p>
        </div>
        <div class="row">
            <div class="col-lg-4  col-md-6 pb-30">
                <div class="single-service">
                    <i class="ti-user"></i>
                    <h4>Web Surfer</h4>
                    <p>
                        Enter all kind of links and it will return you the title, description, probably of this web-site
                        behind the link. Indeed, you can download thumbnails or avatar images.
                    </p>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 pb-30">
                <div class="single-service">
                    <i class="ti-announcement"></i>
                    <h4>Telegram</h4>
                    <p>
                        Enter Telegram user's username. It will return that profile's user's username, description,
                        avatar image link and contact link.
                    </p>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 pb-30">
                <div class="single-service">
                    <i class="ti-bar-chart"></i>
                    <h4>Git Hub</h4>
                    <p>
                        Enter GitHub username. It will return that profile's username, description,
                        avatar image link and contact link.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="single-service">
                    <i class="ti-palette"></i>
                    <h4>Instagram</h4>
                    <p>
                        Enter Instagram username. It will return that profile's username, description,
                        avatar image link, a number of posts, followers, people he or she follows and contact link.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="single-service">
                    <i class="ti-agenda"></i>
                    <h4>Twitch</h4>
                    <p>
                        Enter Twitch user's username. It will return that profile's user's username, description,
                        avatar image link and contact link.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="single-service">
                    <i class="ti-pencil-alt"></i>
                    <h4>Steam</h4>
                    <p>
                        Enter Steam user's username. It will return that profile's user's username, description,
                        avatar image link and contact link.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
